<section class="contact" id="contact">
  <div class="container">
    <div class="contact-top">
      <div class="left">
        <h2>
          Let's Create <br />
          Together.
        </h2>

        <p>Open To Full-Time Roles, Freelance & Collaborations. Let's Build Something Great.</p>
      </div>

      <div class="right">
        <a
          href="https://mail.google.com/mail/?view=cm&fs=1&to=kshitij.somwanshi2001@gmail.com&su=Let's%20Work%20Together"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="icons/Vector (1).svg" alt="Email" />
          <span>Email Me</span>
        </a>

        <a [href]="whatsappLink" target="_blank" rel="noopener noreferrer">
          <img src="images/Vector (2).png" alt="WhatsApp" />
          <span>+91 9527437599</span>
        </a>

        <a
          href="https://www.linkedin.com/in/kshitij-somwanshi-27a941282/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <img src="icons/mingcute_linkedin-line.svg" alt="LinkedIn" />
          <span>LinkedIn</span>
        </a>

        <a
          href="https://www.behance.net/kshitijsomwans"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <img src="icons/ri_behance-line.svg" alt="Behance" />
          <span>Behance</span>
        </a>
      </div>
    </div>
  </div>
</section>
