.projects {
  background: #000;
  padding: 80px 0;
}

.projects-header {
  margin-bottom: 70px;
}

.section-tag {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.section-tag::before {
  content: '';
  width: 55px;
  height: 4px;
  background: #f7c52b;
  display: inline-block;
}
.projects-title {
  margin-top: 16px;
  font-size: 64px;
  color: white;
  font-family: 'Space Grotesk';
}

.projects-description {
  color: #bdbdbd;
  font-size: 22px;
  margin-top: 18px;
}
