.project-card {
  display: grid;
  grid-template-columns: 58% 42%;
  align-items: center;
  gap: 50px;

  background: #f8e8e8;
  border-radius: 28px;

  padding: 48px 52px;
  margin-bottom: 40px;

  overflow: hidden;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 26px;
}

.project-title h3 {
  font-family: 'Space Grotesk';
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

.project-title img {
  width: 34px;
  height: 34px;
}

.project-description {
  font-family: 'DM Sans';
  font-size: 18px;
  line-height: 1.8;
  color: #222;
  margin-bottom: 18px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 30px 0;
}

.project-tags span {
  padding: 10px 22px;
  border: 1px solid #8d8d8d;
  border-radius: 999px;

  font-size: 15px;
  color: #333;
}

.case-study-btn {
  width: 300px;
  height: 64px;

  background: #1c0808;

  border: none;
  border-radius: 999px;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px 0 26px;

  cursor: pointer;
}

.btn-icon {
  width: 44px;
  height: 44px;

  border-radius: 50%;

  background: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
}

.project-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-type {
  font-size: 20px;
  color: #222;
  margin-bottom: 30px;
}

.project-image img {
  width: 100%;
  max-width: 470px;
  object-fit: contain;
}

.project-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 28px;
}

/* Common button style */
.case-study-btn,
.live-website-btn {
  height: 65px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px 8px 6px 30px;

  font-size: 15px;
  font-family: inherit;

  text-decoration: none;
  cursor: pointer;

  box-sizing: border-box;
}

/* Case study */
.case-study-btn {
  width: 375px;

  border: none;
  background: #180505;
  color: #fff;
}

/* Live website */
.live-website-btn {
  width: 300px;

  border: 1px solid #888;
  background: transparent;
  color: #111;
}

/* Circle */
.btn-icon {
  width: 52px;
  height: 52px;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #fff;
  color: #111;

  font-size: 24px;
}

.btn-text {
  white-space: nowrap;
}
